<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MoneyCashboard</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
  <div>
    <h1 class="logo"><span class="bold_logo">M</span>oney<span class="bold_logo">C</span>ashboard</h1>
  </div>
  <nav>
    <ul>
      <li><a href="/transactions">All</a></li>
      <li><a href="/transactions/tag">By Category</a></li>
      <li><a href="/transactions/month">By Month</a></li>
      <li><a href="/transactions/new">Add+</a></li>
    </ul>
  </nav>

  <header>
    <h2 class="spent">You've spent <span class="bold">£<%= '%.2f' % @total_spent %></span></h2>
    <% if @remaining_funds < 0 %>
      <h2 class="remaining_red">Budget remaining <span class="bold">£<%= '%.2f' % @remaining_funds %></span></h2>
    <% elsif @remaining_funds < (@monthly_budget / 2) %>
      <h2 class="remaining_amber">Budget remaining <span class="bold">£<%= '%.2f' % @remaining_funds %></span></h2>
    <% else %>
      <h2 class="remaining">Budget remaining <span class="bold">£<%= '%.2f' % @remaining_funds %></span></h2>
    <% end %>
  </header>

  <%= yield %>

  <footer>&copy; 2018 MoneyCashboard</footer>

</body>
</html>
