<div class="main">

  <section class="category">
    <h3>Edit a Transaction</h3>
  </section>

  <form action="/transactions/<%= @transaction.id%>" method="post">

    <label for="merchant_name">Merchant name: </label>
    <input type="text" name="merchant_name" id="merchant_name" value="<%= @transaction.merchant_name %>" autofocus required />

    <label for="amount">Amount: </label>
    <input type="text" name="amount" id="amount" value="<%= @transaction.amount %>" required />

    <label for="category-select">Select Category: </label>
    <select name="tag_id">
      <% @tags.each do |tag| %>
        <% if @transaction.tag_id == tag.id %>
          <option value="<%= tag.id %>" id="tag_id" selected><%= tag.category %></option>
        <% else %>
          <option value="<%= tag.id %>" id="tag_id"><%= tag.category %></option>
        <% end %>
      <% end %>
    </select>

    <label for="transaction_date">Transaction Date: </label>
    <input type="text" name="transaction_date" id="transaction_date" value="<%= @transaction.transaction_date %>" required />

    <input class="button" type="submit" value="Update Transaction" />

  </form>

</div>
