<h1>You've spent: £<%= @total_spent %></h1>
<h1>Budget remaining: £<%= @remaining_funds %></h1>
<% @transactions.each do |transaction| %>
<article>
  <p>Amount: £<%= transaction.amount %></p>
  <p>Merchant: <%= transaction.merchant_name %></p>
  <p>Date: <%= transaction.transaction_date %></p>
  <p>Category: <%= transaction.tag %></p>
</article>
<% end %>
