<div class="main">

  <section class="category">
    <h3>Transactions by Month</h3>
  </section>

  <section class="category">
    <form action="/transactions/month" method="get">
        <select name="month_id" class="inline">
          <option value="" disabled selected>Choose a month</option>
          <% counter = 0 %>
          <% @months.each do |month| %>
          <% counter += 1 %>
          <option value="<%= counter %>" id="counter"><%= month %></option>
          <% end %>
        </select>
      <input type="submit" value="Filter">
    </form>
  </section>

<% if @transactions.any? %>

  <section class="category">
    <h4>You spent <span class="bold">£<%= '%.2f' % @total_spent_by_month %></span> in <%= @chosen_month %></h4>
  </section>

  <table>
    <tr>
      <th>Date</th>
      <th>Merchant</th>
      <th>Amount</th>
      <th>Category</th>
    </tr>
    <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.transaction_date %></td>
      <td><%= transaction.merchant_name %></td>
      <td>£<%= '%.2f' % transaction.amount %></td>
      <td><%= transaction.tag %></td>
    </tr>
    <% end %>
  </table>

<% elsif params[:month_id] == nil %>

<section>
</section>

<% elsif params[:month_id].to_i != nil && @total_spent_by_month == 0 %>

<section class="category">
  <h4>There are no transactions for <%= @chosen_month %></h4>
</section>

<% end %>

</div>
