<h1>You've spent: £<%= @total_spent %></h1>
<h1>Budget remaining: £<%= @remaining_funds %></h1>

<label for="category-select">Transactions by: </label>

<form action="/transactions/tag" method="get">
  <select name="tag_id">
    <% @tags.each do |tag| %>
      <% if @chosen_tag == tag %>
        <option value="<%= tag.id %>" id="tag_id" selected><%= tag.category %></option>
      <% else %>
        <option value="<%= tag.id %>" id="tag_id"><%= tag.category %></option>
      <% end %>
    <% end %>
  </select>
  <input type="submit" value="Filter">
</form>

<% @transactions.each do |transaction| %>
<article>
  <p>Amount: £<%= transaction.amount %></p>
  <p>Merchant: <%= transaction.merchant_name %></p>
  <p>Date: <%= transaction.transaction_date %></p>
</article>
<% end %>
<h2>You've spent WHAT on <%= @chosen_tag.category %>? £<%= @total_spent_by_tag %></h2>
