<header>
  <h2>You've spent £<%= '%.2f' % @total_spent %></h2>
  <h2>Budget remaining £<%= '%.2f' % @remaining_funds %></h2>
</header>


<form action="/transactions/tag" method="get">
  <label for="category-select">Category</label>
  <select name="tag_id">
    <option value="" disabled selected>Choose a category</option>
    <% @tags.each do |tag| %>
    <option value="<%= tag.id %>" id="tag_id"><%= tag.category %></option>
    <% end %>
  </select>
  <input type="submit" value="Filter">
</form>

<h3>You've spent £<%= '%.2f' % @total_spent_by_tag %> on <%= @chosen_tag.category %></h3>


<% @transactions.each do |transaction| %>
<article>
  <p>Amount: £<%= '%.2f' % transaction.amount %></p>
  <p>Merchant: <%= transaction.merchant_name %></p>
  <p>Date: <%= transaction.transaction_date %></p>
</article>
<% end %>
