<div class="main">

  <section class="category">
    <h3>Transactions by Category</h3>
  </section>

  <section class="category">
    <form action="/transactions/tag" method="get">
        <select name="tag_id" class="inline">
          <option value="" disabled selected>Choose a category</option>
          <% @tags.each do |tag| %>
          <option value="<%= tag.id %>" id="tag_id"><%= tag.category %></option>
          <% end %>
        </select>
      <input type="submit" value="Filter">
    </form>
  </section>

<% if @transactions[0] != nil %>

  <section class="category">
    <h4>You've spent <span class="bold">£<%= '%.2f' % @total_spent_by_tag %></span> on <%= @chosen_tag.category %></h4>
  </section>

  <table>
    <tr>
      <th>Date</th>
      <th>Merchant</th>
      <th>Amount</th>
      <th>Category</th>
    </tr>
    <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.transaction_date %></td>
      <td><%= transaction.merchant_name %></td>
      <td>£<%= '%.2f' % transaction.amount %></td>
      <td><%= transaction.tag %></td>
    </tr>
    <% end %>
  </table>

<% else %>

<section class="category">
  <h4>You've spent not spent anything on <%= @chosen_tag.category %></h4>
</section>

<% end %>

</div>
